html{
    font-family: 'Segoe UI', sans-serif;
    background-color: whitesmoke;
}
body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}
hr {
    border: none;
    height: 2px;
    background-color: black;
}

    div {
        border: 4px solid black;
        padding: 20px 60px 40px 60px;
        margin: 10px;
        background-color: white;
    }

    h2{
        font-weight: 400;
        font-size: 16px;
        color: orange;
    }

    h3{
        font-weight: 500;
        font-size: 16px;
        color: blueviolet;
    }